<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    <p>Esta es la pagina donde se puede ver el carrito y prceder al checkout</p>
    <img src="https://cinusual.com/sites/default/files/styles/imagen_interna/public/noticia/que-es-un-carrito-de-compras-online_0.jpg?itok=3pnMrlcI" alt="imagen carrito">
    
</body>
</html>