<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:wght@300;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e00ad5da1a.js" crossorigin="anonymous"></script>
    <title>Carrito</title>

    <!--Pagina Principal-->
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li id="menu-hamburguesa">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li id="logo">
                    <img class="logo" src="../img/chistech.png" alt="Queso" />
                </li>
                <li id="carrito">
                    <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="container carrito-compras">
            <div>

                <ul class="carrito-lista">
                    <li class="carrito-producto">
                        <div class="carrito-detalle-producto">
                            <a href=" /detalle-producto "><img class="carrito-imagen" src="..\img\queso-azul-cabra-920x920.png " alt="Queso " /></a>
                            <div>
                                <p class="carrito-nombre-producto">Queso Azul</p>
                                <button>remover</button>
                            </div>
                        </div>

                        <div class="carrito-detalle-compra">
                            <input type="number " name="cantidad" id=" ">
                            <p>$ 2000.00</p>
                        </div>

                    </li>
                    <li class="carrito-producto">
                        <div class="carrito-detalle-producto">
                            <a href=" /detalle-producto "><img class="carrito-imagen" src="..\img\queso-azul-cabra-920x920.png " alt="Queso " /></a>
                            <div>
                                <p class="carrito-nombre-producto">Queso Azul</p>
                                <button>remover</button>
                            </div>
                        </div>

                        <div class="carrito-detalle-compra">
                            <input type="number " name="cantidad" id=" ">
                            <p>$ 2000.00</p>
                        </div>

                    </li>
                    <li class="carrito-producto">
                        <div class="carrito-detalle-producto">
                            <a href=" /detalle-producto "><img class="carrito-imagen" src="..\img\queso-azul-cabra-920x920.png " alt="Queso " /></a>
                            <div>
                                <p class="carrito-nombre-producto">Queso Azul</p>
                                <button>remover</button>
                            </div>
                        </div>

                        <div class="carrito-detalle-compra">
                            <input type="number " name="cantidad" id=" ">
                            <p>$ 2000.00</p>
                        </div>

                    </li>


                </ul>
            </div>
        </section>
        <section class="container carrito-checkout">
            <div>
                <p>Total: $2000.00</p>
                <button>Comprar</button>
            </div>
        </section>

    </main>
    <footer>
        <nav class="container footer">
            <h2><a href="/">Menu</a></h2>

            <ul>
                <li><a href="/sobreNosotros">Nosotros</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <!-- cambie redes al footer -->
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>