<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/ccs/normalize.css" />
    <link rel="stylesheet" href="/ccs/style.css" />
    <script src="https://kit.fontawesome.com/e00ad5da1a.js" crossorigin="anonymous"></script>
    <title>Detalle Productos</title>

    <!--Pagina Principal-->

</head>

<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <h1>LOGO</h1>
            <img src="" alt="logo">
        </div>

        <a href="# " class="hamburguer-left ">
            <i class="fas fa-bars "></i>
        </a>

        <a href="# " class="shopping-bag-right ">
            <i class="fas fa-shopping-bag"></i>
        </a>

        <nav class="main-navbar ">
            <ul class="left-navbar ">
                <li><a href="# ">Productos</a></li>
                <li><a href="# ">Categorias</a></li>
                <li><a href="# ">Sobre Nosotros</a></li>
            </ul>

            <ul class="right-navbar ">
                <li>
                    <a href="# ">
                        <i class="fas fa-user"></i>
                    </a>

                </li>
                <li>
                    <a href="# ">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="imagen-producto">
            <ul class="slider-producto">
                <li id="slide1"><img src="" alt="prod"></li>
                <li id="slide2"><img src="" alt="prod"></li>
                <li id="slide2"><img src="" alt="prod"></li>
                <li id="slide2"><img src="" alt="prod"></li>
                <li id="slide2"><img src="" alt="prod"></li>
            </ul>
        </section>
        <section class="detalle-producto">
            <h2>Descripcion</h2>
            <p>Sed pretium luctus porttitor. Curabitur congue nec sapien vitae consequat. Quisque dignissim velit et eleifend sagittis. Duis quis nibh nisi. Morbi ut odio posuere, volutpat turpis sit amet, rutrum nisl. Sed rutrum tincidunt viverra. Sed sit
                amet lectus metus.</p>
            <p>Integer scelerisque odio diam, id interdum quam dictum sed. Cras vel augue finibus mauris laoreet placerat. Etiam lobortis sodales maximus</p>
            <p class="precio">$2000.00</p>
            <p class="oferta">20%</p>
            <div>
                <input type="number" name=" " id=" ">
                <button>Agregar al carrito</button>
            </div>

        </section>
        <section class="productos-destacados">
            <h2>Productos Relacionados</h2>
            <ul>
                <li>
                    <img src="img.jpg" alt="Queso" />
                    <p class="item"> Queso Parmesano Estacionado Horma </p>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <input type="number" name=" " id=" ">
                    <button>Agregar al carrito</button> </li>
                <li>
                    <img src="img.jpg" alt="Queso" />
                    <p class=" item ">Queso Parmesano Estacionado Horma</p>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <input type="number" name=" " id=" ">
                    <button>Agregar al carrito</button> </li>
                <li>
                    <img src="img.jpg " alt="Queso" />
                    <p class=" item ">Queso Parmesano Estacionado Horma</p>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <div>
                        <p class="precio">$2000.00</p>
                        <p class="oferta">20%</p>
                    </div>
                    <input type="number" name=" " id=" ">
                    <button>Agregar al carrito</button> </li>

            </ul>
        </section>

    </main>
    <footer>
        <!-- aca pondria en lugar de la palabra menu, el logo 
      chiquito que nos lleve al inicio -->
        <h2><a href="# ">Menu</a></h2>
        <nav>
            <ul>
                <li><a href="# ">Nosotros</a></li>
                <li><a href="# ">Productos</a></li>
                <li><a href="# ">Contacto</a></li>
            </ul>
            <!-- cambie redes al footer -->
            <ul>
                <li><a href="# ">Facebook</a></li>
                <li><a href="# ">Twitter</a></li>
                <li><a href="# ">Instagram</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>