<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@900&family=Poppins:wght@400;600;900&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e00ad5da1a.js" crossorigin="anonymous"></script>
    <title>Productos Chistech</title>

    <!--Pagina Principal-->
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li id="menu-hamburguesa">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li id="logo">
                    <img class="logo" src="../img/chistech.png" alt="Queso" />
                </li>
                <li id="carrito">
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="slider-inicial"></div>
        <ul class="categorias-productos">
            <!--estas categorias van directamente a filtros dentro de productos -->

            <li>
                <i class="fas fa-cheese"></i>
                <a href="#">Quesos Duros</a>
            </li>
            <li>
                <i class="fas fa-cheese"></i>
                <a href="#">Quesos Blandos</a>
            </li>
            <li>
                <i class="fas fa-cheese"></i>
                <a href="#">Quesos Azules</a>
            </li>
            <li>
                <i class="fas fa-cheese"></i>
                <a href="#">Quesos Frescos</a>
            </li>
            <li>
                <i class="fas fa-cheese"></i>
                <a href="#">Quesos Corteza</a>
            </li>
        </ul>
        <div class="linea-separadora"></div>

        <section class="destacados">
            <div class="container">
                <h2 class="bold">Productos Destacados</h2>
                <!-- este div en mobile es slider -->
                <!-- <div class="productos">
            <ul class="clase-producto">
              <li>
                <img src="../img/gruyere.jpg" alt="Queso" />
                <p class="item">Queso Parmesano Estacionado Horma</p>
                <div>
                  <p>$2000.00</p>
                  <p>20%</p>
                </div>
                <div class="quantity">
                  <input type="number" min="1" max="999" step="1" value="1" />
                  <button>Agregar al carrito</button>
                </div>
              </li>
            </ul>
          </div> -->
                <div class="products">
                    <div>
                        <div class="product">
                            <a href="/detalle-producto">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="..\img\queso-azul-cabra-920x920.png" alt="Queso bien rico" />
                                    </div>
                                    <div class="product-description">
                                        <h3>Queso Azul</h3>
                                        <p>200g</p>
                                    </div>
                                    <div class="product-price">
                                        <div aria-hidden="true"></div>
                                        <p>$2000</p>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <a href="/detalle-producto">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="..\img\queso-mozzarella-polpetta-920x920.png" alt="Queso bien rico" />
                                    </div>
                                    <div class="product-description">
                                        <h3>Queso Mozzarella Polpetta</h3>
                                        <p>250g</p>
                                    </div>
                                    <div class="product-price">
                                        <div aria-hidden="true"></div>
                                        <p>$2000</p>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <a href="/detalle-producto">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="..\img\queso-pecorino-18-meses-920x920.png" alt="Queso bien rico" />
                                    </div>
                                    <div class="product-description">
                                        <h3>Queso Pecorino 18 Meses</h3>
                                        <p>500g</p>
                                    </div>
                                    <div class="product-price">
                                        <div aria-hidden="true"></div>
                                        <p>$2000</p>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <a href="/detalle-producto">
                                <div class="product-card">
                                    <div class="product-image">
                                        <img src="..\img\queso-provolone-stagionato-920x920.png" alt="Queso bien rico" />
                                    </div>
                                    <div class="product-description">
                                        <h3>Queso Provolone Stagionato</h3>
                                        <p>500g</p>
                                    </div>
                                    <div class="product-price">
                                        <div aria-hidden="true"></div>
                                        <p>$2000</p>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-barra-lateral">
                <h2>Logros Internacionales</h2>
                <!-- este div en mobile es slider -->
                <div>
                    <ul class="slider-info">
                        <li id="slide1">
                            <i class="fas fa-award"></i>
                            <p>Cheese Award 2019</p>
                        </li>
                        <li id="slide2">
                            <i class="fas fa-award"></i>
                            <p>Farmer's Market 2021</p>
                        </li>
                        <li id="slide3">
                            <i class="fas fa-award"></i>
                            <p>Cheese Chicago 2017</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav class="container footer">
            <h2><a href="#">Menu</a></h2>

            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <!-- cambie redes al footer -->
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>