<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!--Pagina Principal-->
  </head>
  <body>
    <header>
      <div><p>Logo</p></div>
      <nav>
        <ul>
          <li>Inicio</li>
          <li>Productos</li>
          <li>Contacto</li>
        </ul>
      </nav>
      <div><p>Login</p></div>
      <div><p>Carrito</p></div>
    </header>
    <section>
      <!-- Carrusel -->
    </section>
  </body>
</html>
