<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:wght@300;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e00ad5da1a.js" crossorigin="anonymous"></script>
    <title>Home</title>

    <!--Pagina Principal-->
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li id="menu-hamburguesa">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li id="logo">
                    <img class="logo" src="../img/chistech.png" alt="Queso" />
                </li>
                <li id="carrito">
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Productos</h2>

        <section class="destacados">
            <ul class="categorias-productos">
                <!--estas categorias van directamente a filtros dentro de productos -->

                <li>
                    <i class="fas fa-cheese"></i>
                    <a href="#">Quesos Duros</a>
                </li>
                <li>
                    <i class="fas fa-cheese"></i>
                    <a href="#">Quesos Blandos</a>
                </li>
                <li>
                    <i class="fas fa-cheese"></i>
                    <a href="#">Quesos Azules</a>
                </li>
                <li>
                    <i class="fas fa-cheese"></i>
                    <a href="#">Quesos Frescos</a>
                </li>
                <li>
                    <i class="fas fa-cheese"></i>
                    <a href="#">Quesos Corteza</a>
                </li>
            </ul>
            <div class="container">
                <h2 class="bold">Productos</h2>
                <!-- este div en mobile es slider -->
                <!-- <div class="productos">
                <ul class="clase-producto">
                  <li>
                    <img src="../img/gruyere.jpg" alt="Queso" />
                    <p class="item">Queso Parmesano Estacionado Horma</p>
                    <div>
                      <p>$2000.00</p>
                      <p>20%</p>
                    </div>
                    <div class="quantity">
                      <input type="number" min="1" max="999" step="1" value="1" />
                      <button>Agregar al carrito</button>
                    </div>
                  </li>
                </ul>
              </div> -->
                <div class="products">
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-azul-cabra-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Azul</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-blanco-danes-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Blanco Danes</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-brie-laboheme-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Brie</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-canestrato-stagionato-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Canestrato Stagionato Cuña</h3>
                                    <p>250g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-cheddar-ingles-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Cheddar Ingles</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-cremoso-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Cremoso</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-gouda.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Gouda Cuña</h3>
                                    <p>250g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-gruyere-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Gruyere</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-mozzarella-polpetta-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Mozzarella Polpetta</h3>
                                    <p>250g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-parmesano-15-meses-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Parmesano 15 Meses</h3>
                                    <p>500g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-pecorino-18-meses-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Pecorino 18 Meses</h3>
                                    <p>500g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-provoleta-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Provoletta</h3>
                                    <p>200g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-provolone-stagionato-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Provolone Stagionato</h3>
                                    <p>500g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product">
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="..\img\queso-sbrinz-18-meses-920x920.png" alt="Queso bien rico" />
                                </div>
                                <div class="product-description">
                                    <h3>Queso Sbrinz 18 Meses</h3>
                                    <p>500g</p>
                                </div>
                                <div class="product-price">
                                    <div aria-hidden="true"></div>
                                    <p>$2000</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="boton"> Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <!-- aca pondria en lugar de la palabra menu, el logo 
      chiquito que nos lleve al inicio -->
        <h2><a href="# ">Menu</a></h2>
        <nav>
            <ul>
                <li><a href="# ">Nosotros</a></li>
                <li><a href="# ">Productos</a></li>
                <li><a href="# ">Contacto</a></li>
            </ul>
            <!-- cambie redes al footer -->
            <ul>
                <li><a href="# ">Facebook</a></li>
                <li><a href="# ">Twitter</a></li>
                <li><a href="# ">Instagram</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>