:root {
  --font1: "Poppins", sans-serif;
  --font2: "Bebas Neue", cursive;
  --font3: "Montserrat", sans-serif;
  --gray-100: rgb(245, 238, 228);
  --gray-200: rgb(233, 227, 214);
  --gray-500: rgb(133, 128, 118);
  --gray-600: rgb(99, 93, 75);
  --gray-700: rgb(81, 70, 55);
  --gray-800: rgb(55, 47, 31);  
  --gray-900: rgb(39, 34, 17);
  --gray-smoky: rgb(64, 62, 60);
  --naranja: #e4ab41;
}

* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

h4 {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray-200);
  
}

header {
  
  background-color: var(--gray-smoky);
  /* filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.8)); */

}


.navbar-movil {
  display: flex;
  justify-content: space-around;
  filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.2));

}

.navbar-movil ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
}

.navbar-movil a {
  color: black;
}


i {
  font-size: 1.4rem;
  color: white;
  filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.2));
}

.logo {
  height: 5rem;
} 

#logo h1{
  font-family: var(--font2);
  font-size: 2rem;
  font-weight: bold;  

}

.navbar-desktop {
  display: none;
  justify-content: space-around;
  filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.2));
}

.navbar-desktop ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
}

.navbar-desktop li a {
  color: var(--gray-100);
  font-size: 1.2rem;

}

.navbar-desktop li a:hover {
  color: var(--naranja);

}

.navbar-desktop i:hover {
  color: var(--naranja);
}

@media (min-width: 1024px) {
  .navbar-movil {
    display: none;
  }
  .navbar-desktop{
    display: flex;
    
  }

}

 
.slider-inicial {
  height: 60%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}


.slider-inicial ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 20s infinite alternate-reverse;
}

.slider-inicial li {
  list-style: none;
  width: 100%;
  position: relative;
  
}

.slider-inicial-texto {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
  color: var(--gray-100);
  text-align: left;
  z-index: 2;
}

.slider-inicial-texto h2 {
  font-size: 1rem; 
  color: var(--gray-100);
}

.slider-inicial-texto p {
  font-size: .7rem;
  color: var(--gray-100);
}

.slider-inicial-texto a {
  font-size: .7rem;
  text-decoration: none;
  color: var(--gray-100);
}

.slider-inicial img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.categorias-productos {
  display: flex;
  /*overflow-x: scroll;*/
  justify-content: space-around;
  /* flex-wrap: wrap; */
  flex-direction: row;
  background-color: var(--gray-smoky);
  filter:drop-shadow(0px 2px 2px rgb(0 0 0 /0.8));
}
#slide1 img, #slide2 img, #slide3 img, #slide4 img {
  opacity: 0.75;
}
.categorias-productos li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.7rem;
 
}
.placeholderProduct {
 margin: 20px;
}
.categorias-productos i {
  /*filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));*/
  font-size: 1.5rem;
  color: var(--gray-200);
  transition: all .5s ease-in-out;
}
.categorias-productos i:hover {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  color: var(--naranja);
}

.categorias-productos img {
  width: 40%;
}

.categorias-productos a {
  /*ul del slider*/
  color: var(--gray-200);
  font-weight: 500;
  font-family: var(--font1);
  font-size: 0.8rem;
  padding-top: 0.3rem;
  text-align: center;
}

.linea-separadora {
  border-bottom: 1px solid var(--gray-500);
}

.linea-separadora-dotted {
  border-bottom: 1px dotted var(--gray-500);
}

/* BEGIN CONTAINER */

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

@media (min-width: 640px) {
  .container {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem 1rem;
    max-width: 80rem;
  }
}

/* END CONTAINER */

/* BEGIN PRODUCTS */

 .destacados h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--gray-500);
  text-align: center;
  padding-top: 1rem;
}

.destacados p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--gray-500);
  text-align: center;
  padding-top: 1rem;
}

/* Grilla de productos */

.products,
.users {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 3rem;
  padding-bottom: 1rem;
}

.product-card,
.user-card {
  position: relative;
  
  /* margin-bottom: 1.5rem; */
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--gray-smoky);
  filter:drop-shadow(0px 2px 2px rgb(0 0 0 /0.8));
  border-radius: 5px;
}

.user:hover {
  filter:drop-shadow(0px 3px 4px rgb(0 0 0 /1));
  margin: -0.2rem;
}

.product-image {
  filter:drop-shadow(0px 2px 2px rgb(0 0 0 /0.2));
  position: relative;
  width: 100%;
  height: 18rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.product:hover {
  filter:drop-shadow(0px 3px 4px rgb(0 0 0 /0.1));
margin: -0.2rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-description,
.user-description {
  position: relative;
  margin-top: 1rem;
}

.product-description h3,
.user-description h3 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--naranja);
}

.product-description p {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-500);
}
.user-description p {
text-align: left;
}

.product-price {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1rem;
}

.product-price div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 9rem;
  opacity: 0.15;
  background-image: linear-gradient(to top, rgb(198, 153, 5), rgba(0, 0, 0, 0));
}


.product-price p {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--naranja);
  margin: 0;
}
.tachado {
  text-decoration: line-through;
  font-size: 1rem;
  color: var(--gray-500);
}

.detalle-producto .boton,
.product .boton,
.carrito-detalle-producto .boton,
.carrito-comprar .boton,
.buttons .boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-600);
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  border-color: transparent;
  border-radius: 0.375rem;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
}

.detalle-producto .boton:hover,
.product .boton:hover,
.carrito-detalle-producto .boton:hover,
.carrito-comprar .boton:hover,
.buttons .boton:hover {
  color: #fffcf9;
  background-color: var(--naranja);
  transition: 0.7s;
}

@media (min-width: 640px) {
  .products,
  .users {
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .products,
  .users {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .logo {
    height: 7rem;
  } 
}

@media (min-width: 1280px) {
  .products,
  .users {
    column-gap: 2rem;
  }
}

/* END PRODUCTS */

.clase-producto {
  /*ul class name*/
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  border-radius: 5%;
}

.clase-producto li {
  /*contenido de los hijos de clase-producto li*/
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.clase-producto p {
  /*contenido de los hijos de clase-producto paragraphs*/
  font-family: var(--font2);
  font-size: 1.5rem;
  color: var(--color3);
}

.clase-producto img {
  /*imagenes clase-producto - cada tarjeta*/
  width: 40%;
}

.container-barra-lateral {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--gray-200);
  margin: 1rem 1rem;
  display: flex;
  margin: 0px;
  text-align: center;
  flex-direction: column;
}

.container-barra-lateral h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--gray-900);
}

.slider-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.7rem 0;
}

.slider-info ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slider-info i {
  font-size: 5rem;
  padding: 0.5rem 0.5rem;
}

.slider-info li {
  color: white;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5%;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
}

.slider-info p {
  color: white;
  padding: 0.25rem;
  background-color: var(--gray-500);
  border-radius: 0 0 5% 5%;
  overflow: hidden;
  padding-bottom: 0.2rem;
}

.slider-info i {
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* footer */



footer {
    margin-top: 4rem;
}

footer h2 {
  text-align: center;
}

.footer {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-smoky);
  /*position : absolute */
  bottom: 0;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer li {
  padding: 0.5rem;
}

.footer a {
  text-decoration: none;
  color: var(--gray-100);
}

.footer a:hover {
  color: var(--naranja);
  transition: color 0.3s;
}

#footer-registro {
 /* position: absolute; */
 bottom: 0;
 width: 100%;
}

.register a {
  text-decoration: none;
  color: var(--gray-700);
}

.register a:hover {
  color: var(--naranja);
  transition: color 0.3s;
}

/* fin footer */

/* carrito */

.carrito-producto {
  background-color: var(--gray-100);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carrito-detalle-producto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;
}

.carrito-detalle-producto div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.carrito-detalle-compra {
  display: flex;
  column-gap: 2rem;
  flex-direction: column;
}

.carrito-detalle-compra input {
  text-align: center;
  opacity: 0.5;
  width: 2rem;
}

.carrito-imagen {
  height: 6rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
  border-radius: 5px;
}

.carrito-checkout,
.carrito-compras {
  filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.2));
  background-color: var(--gray-100);
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.carrito-checkout {
  align-items: flex-end;
}

/* fin carrito */

/* detalle producto */

.slider-producto {
  width: 90%;
  max-width: 550px;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
  border-radius: 3%;
}


.slider-producto ul{
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 10s infinite alternate-reverse;
}

.slider-producto li{
  list-style: none;
  width: 100%;
}

.slider-producto img { 
  width: 100%; 
  filter:drop-shadow(0px 2px 2px rgb(0 0 0 /0.2));
}


@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.producto {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1rem;
  color: var(--gray-500);
  text-align: center;
}

.detalle-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.descripcion {
  text-align: center;
}

.descripcion p {
  color: var(--gray-500);
}

@media (min-width: 640px) {
  .detalle-producto {
    flex-direction: row;
  }
  .descripcion {
    text-align: justify;
  }
}

@media (min-width: 1024px) {
  .detalle-producto {
    flex-direction: column;
    justify-content: space-between;
  }
  .producto {
    flex-direction: row;
    justify-content: space-between;
  }
  .detalle-producto {
    width: 50%;
  }
}

/* .grupo-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
} */

.grupo-checkout div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  
}

.grupo-checkout input {
  width: 2rem;
  opacity: 0.5;
  text-align: center;
}

.grupo-checkout .precio {
  font-size: 2rem;
  color: var(--naranja);
  padding: 1rem;
}

.grupo-checkout .boton,
.grupo-checkout .boton:hover {
  width: 12rem;
  filter:drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}


/* Registro y login */

.form {
   height: 100%;
   width: 90%;
   max-width: 800px;
   margin: 0 auto;
   margin-bottom: 1rem;
   margin-top: 1rem;
 }

.form-registro,
.form-login {
  padding: 20px 15px;
  margin: auto;
}

.form-control {
 margin: 1.5rem 0;

}

.form-control label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

.inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inline div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

label.info {
  display: none;
}

.redireccion-a-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

.redireccion-a-registro a {
  font-style: italic;
  text-decoration:underline;
  color: black;
}

.control {
  width: 100%;
  padding: 8px;
  border: none;
}

.buttons {
  display: flex;
  max-width: 60em;
  justify-content: space-around;
  align-items: center;
  column-gap: 3rem;
}

input[type="file"] {
  padding-left: 0;
}

/* 
.productos ul,
.productos-destacados {
  border: dotted red 2px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.menu-de-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-de-registro div {
  padding: 4px;
  margin: 2px;
}

.menu-user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-user-login div {
  padding: 4px;
  margin: 2px;
} */

/* 
    i{
  font-size:1.2rem;}
/* }  

.productos ul,
.productos-destacados {
  border: dotted red 2px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.menu-de-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-de-registro div {
  padding: 4px;
  margin: 2px;
}

.menu-user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-user-login div {
  padding: 4px;
  margin: 2px;
} */

/*
LISTA DE TODAS LAS CLASES QUE SE UTILIZAN EN LA PAGINA

.carrito-checkout 
.carrito-checkout,
.carrito-compras 
.carrito-detalle-compra 
.carrito-detalle-compra input 
.carrito-detalle-producto 
.carrito-detalle-producto div 
.carrito-imagen 
.carrito-producto 
.categorias-productos 
.categorias-productos a 
.categorias-productos i 
.categorias-productos img 
.categorias-productos li 
.clase-producto 
.clase-producto img 
.clase-producto li 
.clase-producto p 
.container 
.container 
.container 
.container-barra-lateral 
.container-barra-lateral h2 
.descripcion 
.descripcion 
.destacados h2 
.detalle-producto 
.detalle-producto 
.detalle-producto 
.detalle-producto 
.detalle-producto .boton,
.detalle-producto .boton:hover,
.footer 
.footer a 
.footer a:hover 
.footer li 
.footer ul 
.grupo-checkout .boton,
.grupo-checkout .boton:hover 
.grupo-checkout .precio 
.grupo-checkout div 
.grupo-checkout input 
.linea-separadora 
.logo 
.navbar 
.navbar a 
.navbar ul 
.product .boton 
.product .boton:hover 
.product-card 
.product-description 
.product-description h3 
.product-description p 
.product-image 
.product-image img 
.product-price 
.product-price div 
.product-price p 
.producto 
.producto 
.producto h2 
.products 
.products 
.products 
.products 
.slider-info 
.slider-info i 
.slider-info i 
.slider-info li 
.slider-info p 
.slider-info ul 
.slider-inicial 
.slider-producto 
.slider-producto img 
.slider-producto li 
.slider-producto ul 

*/
