<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Registrate acá'}) -%>

<body>
    <%- include('./partials/header') -%>

    <main>
        <section class="form">
            <form action="/users/register" method='post' class='form-registro'>

                <div class="form-control">
                    <label class="info">Nombre y Apellidos</label>
                    <input type="text" name="nombre" placeholder="Nombre y Apellido" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Fecha Nacimiento</label>
                    <input type="date" name="fechaNacimiento" placeholder="Fecha Nacimiento" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Seleccionar Foto de Perfil</label>
                    <input type="file" name="fotoPerfil" accept=".jpg, .png, .webp" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" name="password" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>
                <div class="form-control">
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="confirmPassword" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>
                <div class=register>
                    <a href="/users/login">Si tiene usuario ingrese aquí</a>
                </div>

                <div class="buttons">
                    <button type="submit" class="boton">Enviar</button>
                    <button type="reset" class="boton">Borrar</button>
                </div>

            </form>
        </section>
    </main>

    <%- include('./partials/footer') -%>

</body>

</html>