<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Quienes Somos'}) -%>

<body>

    <body>
        <%- include('./partials/header') -%>
        <%- include('./partials/category') -%>

        <main>
           <h1>Pagina en construccion</h1>
        </main>
        <%- include('./partials/footer') -%>

    </body>

</html>