<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Quienes Somos'}) -%>

<body>

    <body>
        <%- include('./partials/header') -%>
        <%- include('./partials/category') -%>

        <main class="destacados">
            <h2>Sobre Nosotros</h2>
            <p class="sobreNosotros">Somos una distribuidora alimenticia con sede en la Ciudad Autónoma de Buenos Aires y estamos acercándote la mejor calidad en productos naturales, provenientes de nuestras provincias argentinas y con todas las regulaciones sanitarias desde su origen.</p>
            <p class="sobreNosotros">Los mismos son seleccionados entre muchos productores regionales, logrando que llegue a tu mesa la mayor calidad y pureza.</p>
            <p class="sobreNosotros">Nuestros clientes y consumidores nos eligen porque ofrecemos un excelente portfolio de productos a precios convenientes. La buena atención y el asesoramiento profesional nos caracterizan.</p>
            <p class="sobreNosotros">La distribución de los mismos en CABA y GBA es únicamente por delivery, el mismo cuenta con refrigeración para mantener la calidad de materia prima hasta tu domicilio</p>
           

        </main>
        <%- include('./partials/footer') -%>

    </body>

</html>