<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Gracias Por Tu Compra'}) -%>

<body>

  <body>
    <%- include('./partials/header') -%>
    <%- include('./partials/category') -%>

    <main class="sobreNosotros">
      <div class="oops">
        <div>
          <h1>Gracias por tu compra. </h1>
          <p>Podes retirar tu compra de lunes a viernes de 8:00 AM a 6:00 PM en nuestra tienda.</p>
        </div>
        
      </div>
      <div class="oopsImg">
      <img  class="oopsImg" src="..\img\products\quesitofeliz.png" alt="oops" />
    </div>



    </main>
    <%- include('./partials/footer') -%>

  </body>

</html>