<ul class="categorias-productos">
    <li>
        <a href="/products/Quesos-Duros"><i class="fas fa-cheese"></i></a>
        <a href="/products/Quesos-Duros">Quesos Duros</a>
    </li>
    <li>
        <a href="/products/Quesos-Blandos"><i class="fas fa-cheese"></i></a>
        <a href="/products/Quesos-Blandos">Quesos Blandos</a>
    </li>
    <li>
        <a href="/products/Quesos-Azules"><i class="fas fa-cheese"></i></a>
        <a href="/products/Quesos-Azules">Quesos Azules</a>
    </li>
    <li>
        <a href="/products/Quesos-Frescos"><i class="fas fa-cheese"></i></a>
        <a href="/products/Quesos-Frescos">Quesos Frescos</a>
    </li>
    <li>
        <a href="/products/Quesos-Corteza"><i class="fas fa-cheese"></i></a>
        <a href="/products/Quesos-Corteza">Quesos Corteza</a>
    </li>
</ul>
