<ul class="categorias-productos">
    <li>
        <a href="/products/5"><i class="fas fa-cheese"></i></a>
        <a href="/products/5">Quesos Duros</a>
    </li>
    <li>
        <a href="/products/1"><i class="fas fa-cheese"></i></a>
        <a href="/products/1">Quesos Blandos</a>
    </li>
    <li>
        <a href="/products/2"><i class="fas fa-cheese"></i></a>
        <a href="/products/2">Quesos Azules</a>
    </li>
    <li>
        <a href="/products/3"><i class="fas fa-cheese"></i></a>
        <a href="/products/3">Quesos Frescos</a>
    </li>
    <li>
        <a href="/products/4"><i class="fas fa-cheese"></i></a>
        <a href="/products/4">Quesos Corteza</a>
    </li>
</ul>
