
<header>
    <nav class="navbar-movil">
        <ul>
            <li id="menu-hamburguesa">
                <a href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li id="logo">
                <a href="/"><img class="logo" src="../img/logo.png" alt="Queso" /></a>
                <!---- <h1>CHISTECH</h1> -->
            </li>
            <li id="carrito">
                <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
    </nav>

    <nav class="navbar-desktop">
        <ul>
            <li id="logo">
                <a href="/"><img class="logo" src="../img/logo.png" alt="Queso" /></a>
                <!---- <h1>CHISTECH</h1> -->
            </li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/sobreNosotros">Sobre Nosotros</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/productoCreacion">Agregar Productos</a></li>
            <li id="carrito"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>
    </nav>
</header>