<header>

  <!-- Navegacion Hamburguesa -->
  <nav class="navbar-movil">
    <ul>

      <li id="carrito">
        <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
      </li>

      <li id="logo">
        <a href="/"><img class="logo" src="../../img/logo.png" alt="Queso" /></a>
      </li>

      <li id="menu-hamburguesa">
        <!-- <button id="hamburguesa" class="boton-hamburguesa"><i class="fas fa-bars"></i></button> -->
        <!-- Navegacion panel desplegable -->
        <nav id="nav" class="main-nav">
          <div class="nav-links">
            <a class="link-item" href="/products">Productos</a>
            <a class="link-item" href="/sobreNosotros">Sobre Nosotros</a>
            <% if (locals.user) { %>

            <a class="link-item" href="/users/perfil/<%= user.id %> ">
              Hola <%= userSession.user_name %> </a><a class="link-item" href="/users/logout">| Logout </a>

            <% } else { %>
            <div class="link-item">
              <a href="/users/register">Registrarse </a><a href="/users/login">| Login </a>
            </div>
            <% } %>
            <% if (locals.user && user.admin===1) { %>
            <a class="link-item" href="/products/productoCreacion">Agregar Productos</a>
            <% } %>
          </div>
        </nav>
        <!-- Boton hamburguesa -->
        <button id="button-menu" class="button-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </li>


    </ul>
  </nav>

  <!-- navegacion desktop -->

  <nav class="navbar-desktop">
    <ul>
      <li id="logo">
        <a href="/"><img class="logo" src="../../img/logo.png" alt="Queso" />
        </a>
      </li>
      <li class="link-item"><a href="/products">Productos</a></li>
      <li class="link-item"><a href="/sobreNosotros">Sobre Nosotros</a></li>
      <% if (locals.user) { %>
      <li class="link-item">
        <a href="/users/perfil/<%= user.id %> ">
          Hola <%= userSession.user_name %>
        </a>
        <a href="/users/logout">| Logout </a>
      </li>
      <% } else { %>
      <li class="link-item">
        <a href="/users/register">Registrarse </a>
        <a href="/users/login">| Login </a>
      </li>
      <% } %> <% if (locals.user && user.admin===1) { %>
      <li class="link-item">
        <a href="/products/productoCreacion">Agregar Productos</a>
      </li>
      <% } else { %>
        <li id="carrito">
          <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
        </li>
      <% } %>
    </ul>

  </nav>
</header>