*{

  box-sizing: border-box;
  margin:0;
  padding:0;

}

.navbar{
  display: flex;
  justify-content: space-around; 
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;


 }

.navbar ul{
  list-style-type: none;
  display:flex;
  justify-content:space-around;
  padding: 10px 15px;
  width: 100%;
      
}

.navbar a{
  color:black;
  text-decoration: none;
}

  i{
  font-size:1.2rem;
/* }  

.productos ul,
.productos-destacados {
  border: dotted red 2px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.menu-de-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-de-registro div {
  padding: 4px;
  margin: 2px;
}

.menu-user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-user-login div {
  padding: 4px;
  margin: 2px;
} */
